/* Signup and Login views */
/* **************************************** */

.signup {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  background: white;
}
.signup input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  /* align-self: center; */
  margin-bottom: 15px;
}
.signup label {
  text-align: start;
}
.signup .submit {
  margin-top: 30px;
  border-radius: 36px;
  background: #fee996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  padding: 10px 16px;
  letter-spacing: 2px;
  border: 1px solid black;
}
.signup button:hover {
  cursor: pointer;
  background-color: #ffdd53;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.error {
  color: #ff0099;
  border: 2px solid #ff0099;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.border-red {
  border: 2px solid #ff0099 !important;
}
.border-red:focus-visible {
  outline: none;
}

.signup h2 {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.signup p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.signup .between-signup-login {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid black;
  margin-inline: 10px;
  display: inline-block;
  background-color: transparent;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.between-signup-login.lighter {
  border: 1px solid gainsboro;
  color: gray;
}
.lighter:hover {
  color: black;
}

.default-books-input {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input[type="radio"] {
  width: 1.5em;
  height: 1.5rem;
  accent-color: green;
  margin-top: 0;
}
